notebook
ipykernel
python-dotenv
pyjwt
fastapi
tabulate
langchain
langgraph
langsmith
langgraph-cli
langchain_anthropic
langchain_openai
langchain-pinecone
langserve[all]
langchain_community
langchain_experimental
llama-index
llama-index-vector-stores-pinecone
pinecone-client[grpc]
semantic-router
tavily-python
